{% extends 'todo/base.html' %}
{% load tailwind_filters %}
{% block form %}
    <div class="flex flex-col justify-center my-16 mx-auto">
        <h2 class="font-serif text-3xl bg-orange-600 text-white p-2">
            Reset Password
        </h2>
        <form method="POST" enctype="multipart/form-data" class=" bg-cyan-300 shadow-md rounded px-8 pt-6 pb-8 mb-4 !text-white">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Send reset email" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <h2 class="font-serif text-md text-purple-600 pt-4 ">
                Back to sign in page
                <span>
                    <a href="{% url 'login' %}" class="font-bold py-2 px-2 text-green-600 hover:underline">
                        Sign in
                    </a>
                </span>
            </h2>   
        </form>
    </div>
{% endblock form %}