{% extends 'todo/base.html' %}

{% block form %}
<div class="mx-auto w-[80vw] max-w-md mt-10 bg-blue-500 text-white rounded-lg shadow-md p-6 space-y-4">
    <h2 class=" text-center text-2xl font-semibold">Password reset mail sent</h2>
    <p class
    >We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>Don't forget to check your spam folder!</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    <a href="{% url 'table' %}"><button class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded mt-3">Return to {% if user.is_authenticated %}main{% else %}login{% endif %} page</button></a>
   
</div>
{% endblock form %}