    {% if form.errors %}
        {% for key, value in form.errors.items %} 
            <div class="md:w-1/3 p-3 bg-red-400 w-10/12 mx-auto rounded-lg border-4 border-white text-white text-center font-serif text-3xl font-bold">
               {{ value }}
            </div>
        {% endfor %}
    {% else %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="md:w-1/3 p-3 bg-green-400 w-10/12 mx-auto rounded-lg border-4 border-white text-white text-center font-serif text-3xl font-bold">
                {{ message }}
            </div>
            {% elif message.tags == 'error' %}
            <div class="md:w-1/3 p-3 bg-red-400 w-10/12 mx-auto rounded-lg border-4 border-white text-white text-center font-serif text-3xl font-bold">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}