<div class="mt-2 mx-auto md:!mx-0 md:max-h-[420px] md:h-fit md:max-w-md min-w-sm max-h-56 overflow-auto w-fit md:!ml-8">
    {% if datas %}
    <table class="bg-slate-400 md:min-w-[384px] text-sm text-white font-serif font-extralight italic md:w-4/12 text-center border-collapse border border-slate-400 w-full h-full">
        <thead>
            <tr>
                <th class="border-collapse border border-slate-400 px-1">No</th>
                <th class="border-collapse border border-slate-400 px-1">Title</th>
                <th class="border-collapse border border-slate-400 px-1 ">Content</th>
                <th class="border-collapse border border-slate-400 px-1">Is done?</th>
                <th class="border-collapse border border-slate-400 px-1">Pr.</th>
                <th class="border-collapse border border-slate-400 px-1">Del.</th>
                <th class="border-collapse border border-slate-400 px-1">Upd.</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <tr>
                    <td class="border-collapse border border-slate-400 px-1">{{ forloop.counter }}</td>
                    <td class="border-collapse border border-slate-400 px-1">{{ data.todo.title }}</td>
                    <td class="border-collapse border border-slate-400 px-1">
                        <button data-modal-toggle="l{{ data.todo.id }}" class="btn look"  name="{{ data.todo.id }}">👀</button>
                        {% include './lookmodal.html' %}
                    </td>
                    <td class="border-collapse border border-slate-400 px-1">{% if data.todo.is_done == True %}✅{% else %}⌛{% endif %}</td>
                    <td class="border-collapse border border-slate-400 px-1">{{ data.todo.priority }}</td>
                    <td class="border-collapse border border-slate-400 px-1">
                        <button data-modal-toggle="d{{ data.todo.id }}" class="btn btn-warning scale-75 del"  name="{{ data.todo.id }}" value="{{ data.todo.id }}">❌</button>
                        {% include './delmodal.html' %}
                    </td>
                    <td class="border-collapse border border-slate-400">
                        <a href="{% url 'update' data.todo.id %}" 'data-modal-toggle="u{{ data.todo.id }}"' class="btn btn-success scale-75 upd"  name="update" value="{{ data.todo.id }}">✏️</a>
                        {% comment %} {% include '/updatemodal.html' %} {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>