<div
  id="u{{ data.todo.id }}"
  tabindex="-1"
  class="modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center datas-center hidden"
  aria-hidden="true"
>
  <form
    method="POST"
    name="todoForm"
    value="{{ data.todo.id }}"
    class="mt-2 border-4 p-4 bg-slate-400 text-sm md:text-lg text-white font-serif font-extralight italic max-h-fit md:min-h-[400px]"
    action="{% url 'update' data.todo.id %}"
  >
    {% csrf_token %} {{ data.form.as_p }}
    <button
      type="submit"
      name="submit"
      value="{{ data.todo.id }}"
      class="btn !bg-blue-500 text-white mt-4 bg-inherit"
    >
      Submit
    </button>
  </form>
</div>
